/*+++++++CONTAINER+++++++++*/
.about-me-container {
  padding: 100px 0;
}

.about-cards.container.col-md-12 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*++++++++CARD COL-MD-7:LAST-CHILD++++++++++*/
.about-cards .card.col-md-7:last-child {
  display: flex;
  text-align: left;
}

svg.svg-inline--fa.fa-github.fa-w-16 {
  color: #000;
  height: 40px;
  width: 40px;
  margin: 0 5px;
}
svg.svg-inline--fa.fa-linkedin.fa-w-14 {
  height: 40px;
  width: 40px;
  color: #0072b1;
  margin: 0 5px;
}

.about-me-title {
  padding-bottom: 25px;
}

/*++++++++FIGURE & IMG+++++++*/
.about-cards.container.col-md-12 figure {
  overflow: hidden;
  height: 400px;
  position: relative;
  text-align: right;
}

.about-cards.container.col-md-12 img {
  height: 100%;
  /*
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translate(-0%, 0%);
  */
}

/*++++++++ABOUT_CARDS++++++++++*/
.about-cards .card {
  border: none;
  background-color: transparent;
}

.about-cards .card .social-icons {
  padding-top: 30px;
}

/*+++++++++TECHSTACK STYLING++++++*/
.techContainer.container {
  padding-bottom: 100px;
}

.techStack.container.col-md-12 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.technology.card.col-md-2 {
  border: none;
}

.technology.card.col-md-2 figure {
  height: 50px;
  overflow: hidden;
}

.technology.card.col-md-2 img {
  height: 100%;
}
