.banner-container {
  display: flex;
  justify-content: center;
  height: 500px;
  background-size: cover;
  background-position: center;
}

h1.banner-text {
  display: flex;
  align-items: center;
  color: #fff;
}

footer {
  border-top: 1px solid #000;
}
